<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<form action="/test/submit" method="post"> //this will test the input and
    <input type="text" name="id"> //the input of id
    <button type="submit">Submit</button> //tests the submit
</form> //closes... in htm format?
