<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ using double colon braces makes it all posible }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    {{{ body }}}
    <*only TEXT is output and we want to "render the html" we nae it body as the reserved name and it will be replaced it is not optional*>
</body>
</html>
