doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

  //this will be the body, it doesnt like comments... 
  li will be a dot... this is a templating softwar, but im not sure what you use it for...

  input(type ='text') //I wronte that...
    block content
